@model UserProfileServiceModel
@{
    ViewData["Title"] = $"{Model.Name} Profile";
}


<div class="well">
    <h2 class="text-left text-primary">@Model.Name's dashboard </h2>
    <p>@Model.Birthdate.ToShortDateString()</p>
    @if (Model.UserName == User.Identity.Name)
    {
        <a asp-controller="Manage" asp-action="Index" class="btn btn-primary"> Edit Profile </a>
        <a asp-area="" asp-controller="Users" asp-action="CreateSchedule" class="btn btn-primary"> Create new schedule </a>


    }

</div>
<div class=" row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">

                <h3 class="panel-title"><span class="glyphicon glyphicon-refresh" onclick ="GetAppointments()"style="cursor:pointer;color:#ffffff;top:2px;float:right"></span> Appointments for today</h3>
              
            </div>
            <div id="todayappointments" class="panel-body">  </div>


        </div>


        <div class="panel panel-info">
            <div class="panel-heading">

                <h3 class="panel-title">Current doctor: @Model.DoctorName</h3>

            </div>
            <div class="panel-body">  </div>


        </div>




    </div>

    <div class="col-md-6">
        <div class="panel panel-info ">
            <div class="panel-heading">

                <h3 class="panel-title">Schedules:</h3>

            </div>

            <div class="panel-body">
                <div class="row ">
                    <div class=" col-md-5">Schedule name</div>
                    <div class=" col-md-3"> Appointments</div>
                    <div class=" col-md-3">Status</div>
                </div>
                @foreach (var schedule in Model.Schedules)
            {
                <div class="row">
                    <div class=" col-md-5 float-left"><strong> @schedule.Name</strong></div>
                    <div class=" col-md-3  text-center ">
                        <span class="label label-primary"> @schedule.AppointmentsCount</span>
                       
                    </div>

                    @if (schedule.IsDeleted)
                {<div class=" col-md-3" style="color:red"> Inactive</div>}
                    @if (!schedule.IsDeleted)
                {<div class=" col-md-3" style="color:#00e157"> Active</div>}

                </div>

        }
            </div>
        </div>
        
    </div>
</div>

<script>
    function GetAppointments() {
        $.ajax({
            url: "/schedule/today",
            type: "GET",
            success: function (data) {
              var box =  $("#todayappointments").empty();
             
             

              if (data.length === 0) {
                  $("<h3>No scheduled appointmets for today!</h3>").appendTo(box);


              }
              else {
                  var li = $('<ol/>').appendTo(box)
                  for (var el in data) {
                      console.log(data[el].title)
                      $("<li>" + data[el].title + " - <span style='float:right'>" + data[el].startTime.substring(10, 16) + "</span></li>").appendTo(li);
                  };
              }
                
            },
            error: function () {
                $("#todayappointments").empty();
            }
        });
    }
</script>


