@model PartPageListingModel
@{
    ViewData["Title"] = "All parts";
}
<br>

<div class="well">
    <h2 class="text-cen text-primary">@ViewData["Title"]</h2>
    </div>
<hr>
<a class="btn btn-primary" href="/parts/create"> Add Part</a>
<hr>
<div class="text-center">
<ul class="pagination pagination-lg">
    <li class="page-item @(Model.CurrentPage == 1 ? "hidden" : "")">
        <a class="page-link  @(Model.CurrentPage == 1 ? "disabled" : "") " href="/parts/all?page=@(Model.PreviousPage)">Previous</a>
    </li>

    @{
        for (int i = 1; i <= Model.TotalPages; i++)
        {     
            if (i == Model.CurrentPage)
            {

                <li class="page-item active">
                    <span class="page-link">
                        @i<span class="sr-only">(current)</span>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="/parts/all?page=@i">@i</a></li>
            }
        }
    }


    <li class="page-item">
        <a class="page-link  @(Model.CurrentPage == Model.TotalPages   ? "hidden" : "")" href="/parts/all?page=@(Model.NextPage)">Next</a>
    </li>
</ul>
    </div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="text-center">
                Name
            </th>
            <th class="text-center">
                Price
            </th>
            <th class="text-center">
                Quantity
            </th>
            <th class="text-center">
                Supplier
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model.Parts)
        {
            <tr>
                <td class="text-center">
                    @part.Name
                </td>
                <td class="text-center">
                    @part.Price.ToPrice()
                </td>
                <td class="text-center">
                   @part.Quantity
                </td>
                <td class="text-center">
                    @part.SupplierName
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-warning" href="/parts/edit/@part.Id"> Edit</a>
                    <a class="btn btn-sm btn-danger" href="/parts/delete/@part.Id"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

