@model IEnumerable<SaleListModel>
@{
    ViewData["Title"] = "All Sales";
}

<h2> @ViewData["Title"]</h2>


<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="text-center">
                Customer
            </th>
            <th class="text-center">
                Price
            </th>.
            <th class="text-center">
                Discount
            </th>
            <th class="text-center">
                Discounted Price
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td class="text-center">
                    @sale.CustomerName
                </td>
                <td class="text-center">
                    @sale.Price.ToPrice()
                </td>
                <td class="text-center">
                  @(sale.Discount + (sale.IsYoungDriver? 0.05 : 0 ) * 100) %
                </td>
                <td class="text-center">
                    @sale.DiscountedPrice.ToPrice()
                </td>
                <td>
                    <a class=""btn btn-sm btn-default" href="/sales/@sale.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
